.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: $card-width;
  gap: 48px;
  margin-bottom: 48px;

  @each $col-count, $size in $screen-size {
    @media (min-width: #{$size}) {
      grid-template-columns: repeat(#{$col-count}, $card-width);
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
